/*Icon CSS*/
* {
  box-sizing: border-box;
}

body {
  background-color: hsl(0 0% 5%) !important;
}

.splashbg {
  background-color: #000 !important;
}

.nuslogo {
  text-align: center;
  width: 100%;
 }

.wave {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #003D7C ;
  animation: wave 1s ease-in-out infinite;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.ball:nth-child(2) {
  animation-delay: -0.2s;
}

.ball:nth-child(3) {
  animation-delay: -0.4s;
}

.ball:nth-child(4) {
  animation-delay: -0.6s;
}

.ball:nth-child(5) {
  animation-delay: -0.8s;
}


.main-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 70%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  width: 90%;
  margin: auto;
}

.cell {
  flex-basis: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:before {
  padding-bottom: 100%;
  display: block;
  content: '';
}

.neon-white {
  --neon: #fefefe;
  --neon-glow: #fff;
}

.neon-green {
  --neon: #00fe9b;
  --neon-glow: #02c435;
}

@supports (background: color(display-p3 1 1 1)) {
  @media (dynamic-range: high) {
    .neon-white {
      --neon-glow: color(display-p3 1 1 1);
    }

    .neon-green {
      --neon-glow: color(display-p3 0 1 0);
    }
  }
}

.ring {
  border: 5px solid var(--neon);
  box-shadow: 
    0 0 50px var(--neon-glow), 
    inset 0 0 50px var(--neon-glow);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}

.caption {
  position: absolute;
  width: 70px;
  margin: 0 auto;
  z-index: 10;
  text-align: center;
  color: #fff;
  font-size: 0.70em;
}

/* Style for scanned location icons */
.scannedLocation {
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

/* Animation CSS */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-color: #000;
}
  
.loader {
  max-width: 15rem;
  width: 100%;
  height: auto;
  stroke-linecap: round;
}

circle {
  fill: none;
  stroke-width: 3.5;
  -webkit-animation-name: preloader;
          animation-name: preloader;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform-origin: 170px 170px;
          transform-origin: 170px 170px;
  will-change: transform;
}
circle:nth-of-type(1) {
  stroke-dasharray: 550;
}
circle:nth-of-type(2) {
  stroke-dasharray: 500;
}
circle:nth-of-type(3) {
  stroke-dasharray: 450;
}
circle:nth-of-type(4) {
  stroke-dasharray: 300;
}
circle:nth-of-type(1) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}
circle:nth-of-type(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
circle:nth-of-type(3) {
  -webkit-animation-delay: -0.45s;
  -moz-animation-delay:  -0.45s;
          animation-delay: -0.45s;
}
circle:nth-of-type(4) {
  -webkit-animation-delay: -0.6s;
  -moz-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

@-webkit-keyframes preloader {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
  
/*Button CSS*/
.vertical-center {
    text-align: center;
}

.btn {
    width: 200px;
    height: 50px;
    font-size: 20px;
}

/*QR Code Scanner CSS*/
#qr-reader {
  text-align: center;
}

#qrcontainer {
  text-align: center;
  padding: 1em 0 1em 0;
}

.scan-area {
  margin: auto;
  width: calc(100% - 20px);
  max-width: 400px;
  text-align: center;
}

#qr-reader__dashboard_section > div:nth-child(2) {
  padding: 1em 0;
}

#html5-qrcode-select-camera {
  margin: 1em 0 !important;
}
#qr-reader > div:nth-child(1) {
  display: none;
}

/* Modal CSS */
#socialmedia {
  display: none;
}

.text {
  padding-left: 10px;
}

.share_links { list-style: none;
  }
  
.share_links li {
    display: inline-block;
    background-color: black;
    margin: 15px;
    border-radius: 50%;
    background: #000;
  }
.share_icon {
      color: white;
      display: table-cell;
      vertical-align: middle; 
      text-align: center;
      text-decoration: none;
      font-size: 32px;
      height: 80px;
      width: 80px;

}
.share_links .bg_fb:hover {
   color: #fff;
   background:#3b5998;
}
.share_links .bg_linkedln:hover {
   color: #fff;
   background:#0072b1 ;
}
.share_links .bg_twitter:hover {
   color: #fff;
   background:#1DA1F2;
}

.share_links li:hover  .share_icon {
   color: #fff;
}

/* Description Modal */
#closebtn {
  color: #fff;
  background-color: #0069d9;
}

.eventcontainer {
  color: #fff;
  text-align: center;
}

.badgeGrid {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  width: 90%;
  margin: auto;
  background: #fff;
}
.badgeCell {
  flex-basis: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}
.badgeCell:before {
  padding-bottom: 100%;
  display: block;
  content: '';
}
.circle {
  background: #ccc;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto 1em;
}
.inner {
  text-align: center;
}

/* Sweet Alert Success Noti */
.no-border {
  border: 0 !important;
}

.btn-primary {
  color:#fff !important;
  background-color:  #003D7C !important;
  border-color:  #003D7C !important;
}

.swal2-styled.swal2-confirm {
  background-color: #003D7C !important;
}