<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <script src="../node_modules/html5-qrcode/html5-qrcode.min.js" type="node_modules"></script>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

</head>

<body>


    <div class="grid">
        <div class="cell">
            <div class="inner">
                <div class="icon"></div>
                <div class="caption">Location A</div>
            </div>
        </div>
        <div class="cell">
            <div class="inner">
                <div class="icon"></div>
                <div class="caption">Location B</div>
            </div>
        </div>
        <div class="cell">
            <div class="inner">
                <div class="icon"></div>
                <div class="caption">Location C</div>
            </div>
        </div>
        <div class="cell">
            <div class="inner">
                <div class="icon"></div>
                <div class="caption">Location D</div>
            </div>
        </div>
        <div class="cell">
            <div class="inner">
                <div class="icon"></div>
                <div class="caption">Location E</div>
            </div>
        </div>
        <div class="cell">
            <div class="inner">
                <div class="icon"></div>
                <div class="caption">Location F</div>
            </div>
        </div>
        <div class="cell">
            <div class="inner">
                <div class="icon"></div>
                <div class="caption">Location G</div>
            </div>
        </div>
        <div class="cell">
            <div class="inner">
                <div class="icon"></div>
                <div class="caption">Location H</div>
            </div>
        </div>
        <div class="cell">
            <div class="inner">
                <div class="icon"></div>
                <div class="caption">Location I</div>
            </div>
        </div>
    </div>

    <div style="width: 500px" id="qr-reader" data-csrf-token="{% csrf_token %}"></div>

    <script>
        var html5QrcodeScanner = new Html5QrcodeScanner(
            "qr-reader", { fps: 10, qrbox: 250 });

        let decodedText = ""

        function onScanSuccess(decodedText, decodedResult) {
            // Handle on success condition with the decoded text or result.
            console.log(`Scan result: ${decodedText}`, decodedResult);

            // Send the data to the Django view using AJAX POST
            var csrfToken = document.getElementById("qr-reader").getAttribute("data-csrf-token");

            // // Send the data to the Django view using AJAX POST
            $.ajax({
                type: 'POST',
                url: "",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                data: {
                    'decodedText': decodedText
                }
                // success: function (response) {
                //     console.log(response);
                // },
                // error: function (xhr, status, error) {
                //     console.log(xhr.responseText);
                // }
            });

        }

        html5QrcodeScanner.render(onScanSuccess);

        document.querySelector('#qr-reader').removeAttribute('style');

    </script>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}

    <div id="qrcontainer">
        <div class="vertical-center">
            <button type="button" id="btn-scan-qr" class="btn btn-primary">SCAN HERE <span
                    class="bi bi-qr-code-scan"></span></button>
        </div>

        <canvas hidden="" id="qr-canvas"></canvas>

        <div id="qr-result" hidden="">
            <b>Data:</b> <span id="outputData"></span>
        </div>

    </div>

    <script type="module" src="../static/js/qrCodeScanner.js"></script>

</body>

</html>