<main>
    <div id="overlay" class="hide-overlay">
        <a href="{% url 'instructions_page' %}">
            Instructions <span class="bi bi-book"></span>
        </a>
        <a href="{% url 'socmaps_page' %}">
            SOC Maps <span class="bi bi-map"></span>
        </a>
        <a href="{% url 'main_page' %}">
            Start Hunting <span class="bi bi-qr-code-scan"></span>
        </a>
        <a href="{% url 'acknowledgement' %}">
            Acknowledgement <span class="bi bi-person-circle"></span>
        </a>
    </div>
    <div class="nav">
        <div class="logo">
            <img src="../static/images/NUS_SoC_Logo_Navbar.jpg" alt="NUS_SoC_Logo_Navbar" height="30px">
        </div>
        <div id="hamburger">
            <div></div>
        </div>
    </div>
</main>
<script type="text/javascript" src="../static/js/navbar.js"></script>