<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="utf-8">
    <title>Splash Screen</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    
    <style>
        /* add your CSS styling here */
    </style>
</head>

<body class="splashbg">

    <div class="containers">
        <div class="nuslogo">
            <img src="../static/images/NUS_Computing_Logo-removebg.png" width="800" height="800">
        </div>

        <div class="wave">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>

    </div>

    <script>
        // wait for 3 seconds and then redirect to main page
        setTimeout(function () {
            window.location.href = "{% url 'main_page' %}";
        }, 3000);
    </script> 


</body>

</html>